<p id="notice"><%= notice %></p>
<div class="col-md-8 blog-main">
  <div class="blog-post">
    <h2 class="blog-post-title"><%= link_to @blog.title, @blog, class: "text-muted font-italic" %></h2>
    <p class="blog-post-meta">Published
      <%= distance_of_time_in_words(@blog.created_at, Time.now) %></p >
    <p><%= @blog.body %></p>
    <%= link_to 'Back', blogs_path, class: "btn btn-outline-primary" %>

    <% if logged_in?(:site_admin) %>
      <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-outline-primary"%>
    <% end %>
  </div>
</div>
