<div class="container mt-5">

  <div class="row pt-3">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.thumb_image, 'main').to_s , width: "100%" %>
    </div>

    <div class="col-md-5">
      <h1><%= @portfolio_item.title%></h1>

      <h4 class="font-italic"><%= @portfolio_item.subtitle%></h4>
      <p><%= @portfolio_item.body%></p>

      <hr>

      <h2>Technologies Used:</h2>

      <% @portfolio_item.technologies.each do |technology| %>
        <p><%= technology %></p>
      <% end %>
    </div>
  </div>
  </div>
