<!-- Start of Nav -->
<div class="nav-scroller mb-2">
  <nav class="nav d-flex justify-content-between">
    <div> <%= link_to "Home", root_path, class: "nav-link font-weight-bold text-muted" %> </div>
    <div> <%= link_to "About", about_path, class: "nav-link font-weight-bold text-muted" %>  </div>
    <div> <%= link_to "Blogs", blogs_path, class: "nav-link font-weight-bold  text-muted" %>  </div>
    <div> <%= link_to "Contact", contact_path, class: "nav-link font-weight-bold text-muted" %>  </div>
    <div> <%= link_to "Portfolios", portfolios_path, class: "nav-link font-weight-bold text-muted" %>  </div>  </nav>
  <!-- /nav -->
</div>
