<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of Header -->
    <div class="container mb-2">
      <%= render "blog_header"%>
      <%= render "blog_jumbotron" if current_page?("/blogs")%>
    </div>
    <main role="main" class="container">
      <div class="row">
        <%= yield %>
        <%= render "blog_sidebar" %>
      </div>
    </main>
    <%= render "blog_footer"%>

    <%= alerts %>
  </body>
</html>
